<a href="https://colab.research.google.com/github/AmanYadavKHD/Machine-Learning/blob/main/Session4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LIST COMPREHENSION

In [2]:
L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
#scaler multiplication on vector
v=[2,3,4]
s=-3
x=[]
for i in v:
  x.append(i*s)
print(x)

[-6, -9, -12]

In [7]:
#instead of following above we can directly do by;

x=[s*i for i in v]
print(x)

[-6, -9, -12]

In [8]:
#squares of a list.
L=[1,2,3,4,5]
[i**2 for i in L]

[1, 4, 9, 16, 25]

In [9]:
#print all numbers divisible by 5 in range of 1 to 50
[i for i in range(1,51) if i%5==0 ]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [11]:
languages = ['English', 'epoiu','Hindi']
[i for i in languages if i[0]=='E']

['English']

In [12]:
[[i*j for i in range(1,4)] for j in range (1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [14]:
L=[2,4,5,3,1]
W=[8,6,8]
[i*j for i in L for j in W]

[16, 12, 16, 32, 24, 32, 40, 30, 40, 24, 18, 24, 8, 6, 8]

ZIP

In [17]:
L1=[1,2,3,4]
L2=[-1,-2,-3,-4]
print(list(zip(L1,L2)))
[i+j for i,j in zip(L1,L2)]

[(1, -1), (2, -2), (3, -3), (4, -4)]

[0, 0, 0, 0]