<a href="https://colab.research.google.com/github/AmanYadavKHD/Machine-Learning/blob/main/Session6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lets CREATE A FUNCTION with docstring.

In [3]:
#Creating function
def is_even(num):
  """
  This function return if a given nu,mber is odd or even.
  input- any valid integer.
  output-odd/even
  created on- 23/05/2024
  created by- Aman Yadav.
  """
  if type(num)==int:
     if num%2==0:
      return 'even'
     else:
      return 'odd'
  else:
    print('invalid datatype')

In [5]:
#Using function
for i in range(1,11):
  x=is_even(i)
  print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

In [6]:
#Types of Arguments
#Default Argument
def power(a=1,b=1):
  return a**b

In [7]:
power(2)

2

In [8]:
#positional argument
power(2,3)

8

*args and **kwrgs;
*args is used to handle various number of inputs.
*kwrgs is used to handle

In [11]:
def multiply(*args):
  product=1
  for i in args:
    product=product*i
  return product

In [12]:
multiply(9,8,7,6,5,4,3)

181440

In [13]:
#**kwargs allow to pass any no of key-value pairs.
def display(**kwargs):
  for(key,value) in kwargs.items():
    print(key,'->',value)

In [14]:
display(india='delhi',srilanka='colombo',nepal='katmandu')

india -> delhi
srilanka -> colombo
nepal -> katmandu

In [17]:
#function defalut value of return is None.
L=[1,2,3]
print(L.append(4))
print(L)

None
[1, 2, 3, 4]

Variable Scope

In [18]:
def g(y):
  print(x)
  print(x+1)
x=5
g(x)
print(x)

5
6
5

In [19]:
def f(y):
  x=1
  x+=1
  print(x)
x=5
f(x)
print(x)

2
5

In [21]:
def h(y):
  global x
  x+=1
x=5
h(x)
print(x)
#we cannot do changes in global variable without using global keyword.

6

In [22]:
def f(x):
   x = x + 1
   print('in f(x): x =', x)
   return x

x = 3
z = f(x)
print('in main program scope: z =', z)
print('in main program scope: x =', x)

in f(x): x = 4
in main program scope: z = 4
in main program scope: x = 3

Functions in python are first class citizens.

In [23]:
def f():
    def x(a, b):
        return a+b
    return x

val = f()(3,4)
print(val)

7

In [24]:
def func_a():
    print('inside func_a')

def func_b(z):
    print('inside func_c')
    return z()

print(func_b(func_a))

inside func_c
inside func_a
None

HIGHER ORDER FUNCTIONS.

In [25]:
def square(x):
  return x**2
def transform(f,L):
  output=[]
  for i in L:
    output.append(f(i))
  print(output)
L=[1,2,3,4]
transform(square,L)
#function in input

[1, 4, 9, 16]