<a href="https://colab.research.google.com/github/AmanYadavKHD/Machine-Learning/blob/main/Session3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
n= int(input("Enter the value of n: "))
sum=0
fact=1
for i in range(1,n+1):
  fact=fact*i
  sum=sum+i/fact
print(sum)

Enter the value of n: 3
2.5

NESTED LOOPS

In [5]:
for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [9]:
for i in range(1,5):
  for j in range(1,i+1):
    print('*',end=' ')
  print()

*
* *
* * *
* * * *

In [16]:
rows = int(input('Enter the number of rows : '))
for i in range (1,rows+1):
  for j in range(1,i+1):
    print(j,end=' ')
  for q in range(i-1,0,-1):
    print(q,end=' ')
  print()

Enter the number of rows : 5
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [22]:
lower=int(input('Enter the first number : '))
upper=int(input('Enter the third number : '))
for i in range(lower,upper+1):
  for j in range(2,i):
    if i%j==0 :
      break
  else:
      print(i)

Enter the first number : 4
Enter the third number : 40
5
7
11
13
17
19
23
29
31
37

STRINGS

In [1]:
#creating strings
s='Hello'
s="Hello"
s=str('Hello')
print(s)

Hello

In [2]:
"it's raining outside."

"it's raining outside."

Accessing substring from a string.

In [3]:
#Positive indexing
s='hello'
print(s[3])

l

In [4]:
#Negative indexing
s='pello'
print(s[-3])

l

In [6]:
#slicing
s='helo world'
print(s[6:0:-2])
print(s[::-1])

o l
dlrow oleh